<%- include('../partials/header')%>

  <% let name=user.name%>

    <h2>Hi, <span id="greetMe!">
        <%= user.name.match(/^\w*\b/).join() %>
      </span>! Here's all your quotes</h2>

    <div class="row" style="row-gap: 1.5em;">
      <% quotes.forEach(function(q) { %>

        <div class="col-sm-6 col-md-4">
          <a style="text-decoration: none; color: inherit;" href="/quotes/<%= q._id %>" title="Edit this quote">
            <div class="card">
              <div class="card-body">
                <p class="card-title lead text-truncate"><q>
                    <%= q.content %>
                  </q></p>
                <!-- <q class="card-text text-truncate d-block ">
                  <%= q.content %>
                </q> -->
                <p class="card-text text-secondary">
                  &ndash; <%= q.author %>
                </p>
                <p class="text-center py-2 mt-2 mb-0"><a href="/quotes/<%= q._id %>" class="btn btn-primary btn-sm">Edit this quote</a></p>
              </div>
            </div>
          </a>
        </div>

        <% }); %>


    </div>



    <%- include('../partials/footer')%>