<%- include('../partials/header')%>

<main class="px-4">

  <% let name=user.name%>

    <p class="pt-2 lead">Hi,
        <%= user.name.match(/^\w*\b/).join() %>! You've got <span>
          <%= quotes.length%>
        </span> <%= quotes.length === 1 ? "quote" : "quotes" %>. 
        <% if (!quotes.length) { %>
          Why not <a href="/quotes/new">add one</a>?
        <% } %>
      
      </p>

    <div class="row" id="theCards" style="row-gap: 1.5em;">
      <% quotes.forEach(function(q) { %>

        <div class="col-sm-6 col-md-4">
          <a style="text-decoration: none; color: inherit;" href="/quotes/<%= q._id %>" title="Edit this quote">
            <div class="card">
              <div class="card-body">
                <p class="card-title lead text"><q>
                    <%= q.content %>
                  </q></p>
                <!-- <q class="card-text text-truncate d-block ">
                  <%= q.content %>
                </q> -->
                <p class="card-text text-secondary">
                  &ndash; <%= q.author %>
                </p>
                <p class="text-center py-2 mt-2 mb-0"><a href="/quotes/<%= q._id%>/edit" class="btn btn-outline-secondary btn-sm">Edit this quote</a></p>
              </div>
            </div>
          </a>
        </div>

        <% }); %>
    </div>

    <%- include('../partials/footer')%>